<form id="form-authorize" class="form-authorize">
  <h2 class="form-authorize-heading">Please authorize</h2>
  <button id="btn-authorize" class="btn btn-lg btn-primary btn-block" type="submit">Authorize</button>
</form>

<ul id="user-info">
</ul>

<button id="photo-album" class="btn btn-lg btn-primary btn-block" type="submit">Photo Album</button>
<table id="explorer" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>File Name</th>
      <th>Download Link</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<div id="photos">
  <img class="img-thumbnail" src="https://dl.dropboxusercontent.com/1/view/0b1ctddll87n6b9/IMG_4592.JPG">
</div>
