<form id="form-authorize" class="form-authorize">
  <h2 class="form-authorize-heading">Please authorize</h2>
  <button id="btn-authorize" class="btn btn-lg btn-primary btn-block" type="submit">Authorize</button>
</form>

<div id="user-info">
</div>

<table id="explorer" class="table table-hover">
  <thead>
    <tr>
      <th>File Name</th>
      <th>Download Link</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
